.productLink {
  width: 400px;
  background-size: cover;
  text-align: center;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.productLink p {
  margin: auto;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
  color: white;
  text-decoration: none !important;
}
.noUnderline {
  text-decoration: none;
}

#roses {
  background-image: url("../../assets/flower6.JPG");
}

#hydrangeas {
  background-image: url("../../assets/flower13.jpg");
}
