#linen1 {
  background-image: url("../../assets/IMG_2593.jpg");
}
#linen2 {
  background-image: url("../../assets/thumbnail_IMG_3453.jpg");
}
#linen3 {
  background-image: url("../../assets/thumbnail_IMG_3538.jpg");
}
#linen4 {
  background-image: url("../../assets/IMG_3393.jpg");
}
#linen5 {
  background-image: url("../../assets/thumbnail_IMG_3495.jpg");
}
#linen6 {
  background-image: url("../../assets/IMG_3398.jpg");
}
#linen7 {
  background-image: url("../../assets/thumbnail_IMG_3415.jpg");
}
