.navWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
header {
  background-color: white;
}
h3 {
  margin-top: auto;
  margin-bottom: auto;
}
.navWrap h3:hover{
  border-bottom: 2px solid #7a4458;
}
#textLogo {
  padding: 25px;
  height: 50px;
}
.altCTA {
  background-color: #7a4458;
  color: white !important;
  padding: 10px 20px;
  border-radius: 100px;
}

a {
  text-decoration: none;
}
.navWrap h3 a {
  font-size: 17px;
  color: #7a4458;
}
.altCTA a {
  color: white !important;
}
.mobileNav{
  display: none;
}
@media only screen and (max-width: 1000px)  {
  .navWrap{
    flex-wrap: wrap;
    display: none;
  }
  .navWrap h3{
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .altCTA{
    border-radius: 0px;
    border-bottom: 2px solid white;
  }
  #textLogo{
    display: none;
  }
  .mobileNav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  #mobileLogo{
    width: 130px;
    /* padding: 10px; */
  }
  .burger{
    height: 10px;
  }
  .burger p{
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
    width: 20px;
    background: black;
    height: 2px;
  }
  .openNav{
    display: block;
  }
}