.navWrap {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}
header {
  background-color: white;
}
h3 {
  margin-top: auto;
  margin-bottom: auto;
}
h3:hover{
  border-bottom: 2px solid #7a4458;
}
#textLogo {
  padding: 25px;
  height: 90px;
}
.altCTA {
  background-color: #7a4458;
  color: white !important;
  padding: 10px 20px;
  border-radius: 100px;
}

a {
  text-decoration: none;
}
.navWrap h3 a {
  font-size: 23px;
  color: #7a4458;
}
.altCTA a {
  color: white !important;
}
