#chalk1 {
  background-image: url("../../assets/IMG_3262.jpg");
}
#chalk2 {
  background-image: url("../../assets/IMG_3352.jpg");
}
#chalk3 {
  background-image: url("../../assets/IMG_3334.jpg");
}
#chalk4 {
  background-image: url("../../assets/IMG_3409.jpg");
}
#chalk5 {
  background-image: url("../../assets/IMG_3306.jpg");
}
